.screen {
  width: 400px;
  height: 800px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.screen-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.order-item,
.product-item {
  border: 1px solid #cacaca;
  padding: 20px;
  position: relative;

  .name {
    font-weight: bold;
    font-size: 1.7rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .actions {
      display: flex;
      flex-direction: row;

      button {
        border: none;
        background-color: none;
      }

      .delete-button {
        font-size: 1.5rem;
        background-color: #ffffff;
        color: #4a90e2;
        cursor: pointer;
      }

      .counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 30px;
        border: 1px solid #ccc;

        .element {
          min-width: 30px;
          min-height: 30px;
          text-align: center;
          line-height: 30px;
        }
      }
    }

    .price {
      font-size: 2.5rem;

      &::before {
        content: "$";
      }
    }
  }
}

.product-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .content {
    align-items: flex-start;
    flex-direction: column;
  }
}

.modal-component {
  position: absolute;
  top: 0;
  width: 400px;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;

  .content {
    background-color: #ffffff;
    padding: 30px;

    .text {
      margin-bottom: 20px;
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      button:first-child {
        margin-right: 15px;
      }

      button {
        font-size: 14px;
        border: none;
        cursor: pointer;
      }

      button.cancel {
        background-color: #ffffff;
        color: #4a90e2;
      }

      button.confirm {
        padding: 5px 10px;
        color: #ffffff;
        background-color: #68c256;
      }
    }
  }
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  padding: 0 10px;
  margin: 10px 0;

  .value::before {
    content: "$";
  }
}

button.check-out {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #68c256;

  margin-top: 10px;
  font-size: 2rem;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .cart {
    position: relative;
    .badge {
      position: absolute;
      bottom: -10px;
      right: -10px;
      background-color: #4a90e2;
      color: white;
      font-weight: bold;
      border-radius: 10px;
      width: 20px;
      height: 20px;
      text-align: center;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button.add-to-cart {
  text-align: center;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  color: #68c256;
  padding: 20px;
  cursor: pointer;
}

button.add-to-cart:active {
  color: #cccccc;
}

.cart-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;

  font-size: 2rem;
  color: #ffffff;
  background-color: #68c256;

  .value::before {
    content: "$";
  }
}

.empty-cart {
  padding: 20px;
  text-align: center;
  color: #dadada;
  font-size: 1.5rem;
  font-weight: bold;
}
